@import '/src/globalStyles/tools';

.pokemon-card {
    background-color: var(--bg-color-transparency);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--unit-16);
    border-radius: var(--unit-6);
    gap: var(--unit-3);
    align-self: baseline;
    position: relative;

    &__img {
        order: 2;
        display: flex;
        justify-content: center;
    }

    &__img > img {
        display: flex;
        width: 90%;
    }

    &__identifiers {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        order: 3;
    }

    &__tags {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__url {
        position: absolute;
        inset: 0;
    }

    &.pokemon-card--list {
        flex-direction: row;
        gap: var(--unit-16);

        .pokemon-card__img {
            order: 1;
            width: 12rem;
        }

        .pokemon-card__identifiers {
            order: 2;
            justify-content: start;
            gap: var(--unit-16);
        }

        .pokemon-card__tags {
            order: 3;
        }

    }
}