.flex {
    display: flex;
}

.gap--16 {
    gap: var(--unit-16);
}

.capitalize {
    text-transform: capitalize;
}

.txt-align--right {
    text-align: right;
}

.flex-align--center {
    align-items: center;
}