@import '/src/globalStyles/tools';

.body {
    @include MQ ($desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }
}

.flex {
    display: flex;
}

.gap--16 {
    gap: var(--unit-16);
}

.capitalize {
    text-transform: capitalize;
}

.txt-align--right {
    text-align: right;
}

.flex-align--center {
    align-items: center;
}