@import '/src/globalStyles/tools';

.screenpanel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--unit-16);
    gap: var(--unit-16);

    @include MQ ($tablet) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include MQ ($desktop) {
        overflow: scroll;
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--bg-color-theme);
    }

    &.screenpanel--list {
        grid-template-columns: 1fr;
        display: grid;
        gap: var(--unit-16);
        padding: var(--unit-16);
    }

    &:has(.pokemonView) {
        display: flex;
        flex: 1;
    }
}