@import '/src/globalStyles/tools';

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-between;

    &--panel {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        padding-top: 11.5rem;
        padding-bottom: 11rem;
    }
}